form {
  display: table;
  border-spacing: 10px;
}

.row {
  display: table-row;
}
.cell {
  display: table-cell;
  vertical-align: top;
}

.left {
  text-align: right;
}

.right {
  text-align: left;
}
