header {
    background-color: aqua;
    border: solid black 1px;
    padding: 5px;
    text-align: right;
}

.goods-item {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    text-align: center;
    width: 150px;
    height: 150px;
    border-style: double;
    border-color: brown;
}